@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: #333b4b;
  font-size: 16px
}

/* TYPOGRAPHIE */

h1, h2, h3, p, ul, li, a, footer, li {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 900;
}

h1, h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  letter-spacing: -2px
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem
}

p, li {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

p, ul {
  margin-bottom: 1rem
}

a {
  color: CornflowerBlue;
}

a:hover {
  color: DarkBlue
}

/* BLOCS PRINCIPAUX */

header {
  width: 100%;
  margin-bottom: 6rem;
  display: inline-block;
}

section {
  margin-bottom: 4rem
}

nav {
  border-top: 1px solid #efefef;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  color: #aaa;
}

nav a {
  text-decoration: none;
  font-weight: 500;
}

nav li {
  display: inline-block;
  margin-right: 2rem
}

/* COMPOSANTS */

li {
  list-style: none;
  list-style-position: inside;
}

input[type=email] {
  border: none;
  border-bottom: 1px solid #333b4b;
  color: #333b4b;
  padding-bottom: .85rem;
  font-size: 1.25rem;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  color: #333b4b;
}

/* CLASSES ADDITIONELLES */

.content, .section-notice {
  width: 720px;
  margin: 5rem auto 0;
}

#logo {
  font-weight: 500;
  text-decoration: none;
  color: #333b4b
}

.button {
  margin: 2rem 1rem 0 0;
  padding: 1rem 1.25rem;
  background: #ccc;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  background: CornflowerBlue;
  color: white;
  font-weight: 500
}

.button:hover {
  color: white;
  background: DarkBlue
}

.banner {
  background: papayawhip;
}

.section-notice {
  margin-top: 0;
  padding: 1rem 1rem .25rem;
  border-radius: 4px;
  text-align: center;
}

.section-notice p {
  font-size: .85rem;
}

@media (max-width: 420px) {
  body {
    font-size: 14px
  }
  .content, .section-notice {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem 0
  }
  .section-notice {
    padding-bottom: .25rem
  }
  nav li {
    margin-bottom: 1rem;
    display: block
  }
}
