<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="manifest" href="site.webmanifest">
  </head>
  <body>
    {% include banner.html %}
    <div class="content">
      {% include header.html %}
      <section>
        {{ content }}
      </section>
      {% include nav.html %}
    </div>
  </body>
  </html>
